[2015-10-08 01:19] moustakas opened #9 "documentation for decals-specz.fits is incorrect"
The documentation for decals-specz.fits (http://www.legacysurvey.org/dr1/files) states that HDU4 holds the WISE forced photometry.   This is incorrect -- a hold-out from the Early Data Release when we simply matched against Dustin's existing forced-photometry (SDSS+WISE) catalogs.

In DR1 (and thereafter) the decals-specz.fits file only has three extensions, and the WISE photometry is included wit

[2015-10-08 19:03] moustakas opened #10 ""Measurement catalogs" never delivered; need to update documentation"
We need to update the documentation for DR1 (and DR2) where we describe the "measurement" (forced-photometry) catalogs:   http://www.legacysurvey.org/dr1/catalogs

We never actually delivered these for DR1 and I believe the (current) plan is to not include them for DR2 either (unless someone has a chance to take a look and finds them useful!).

[2015-10-29 00:06] moustakas opened #11 "document all mask bits for DR2"
We need to document all mask values, including those over 128:
   http://legacysurvey.org/dr1/catalogs

See, for example, this part of the pipeline:
  https://github.com/legacysurvey/legacypipe/blob/master/py/legacypipe/common.py#L46-L53

[2015-10-30 21:47] geordie666 commented on #9
This should now be corrected in the DR1 documentation

[2015-10-30 21:47] #9 closed

[2015-10-30 21:47] geordie666 commented on #10
These have now been redacted in the DR1 documentation. Will propagate through to DR2

[2015-10-30 21:47] #10 closed

[2015-10-30 21:50] geordie666 commented on #11
All bits except longthin are now documented in DR1. "longthin" was new for DR2. Will document it once the DR2 pages exist based on the following description from Dustin:

'longthin' = 1024 -- it's a mask value I add in the legacypipe processing.  In each image, I run a source detection step, find connected components above 5 sigma, and mask out objects with a major axis > 200 pixels and minor/majo

[2015-10-30 21:50] #11 closed

[2016-01-16 02:15] moustakas opened #22 "final changes for DR2"
* Change DR2 release date to January 2016 (unless there are reasons to keep Dec 2015)
* In 'files' specify that 'decals-dr2-specObj-dr12.fits', 'decals-dr2-DR12Q.fits', and 'decals-dr2-Superset_DR12Q.fits' can be found in the 'external' subdirectory.
* The 'issues' page (http://legacysurvey.org/test/dr2/issues) is called "Known Issues and fixes" but the page linking to it is called "Known Issues a

[2016-01-16 04:08] geordie666 commented on #22
Fixed set of issues #22

[2016-01-16 04:08] #22 closed

[2016-01-22 19:51] weaverba137 opened #25 "Deployed DR2 server still contains legacysurvey.org/test"
The newly deployed http://legacysurvey.org was deployed without changing it out of test mode, so it still thinks it is serving legacysurvey.org/test.  The need to do this before deploying was noted in #24, but it didn't get done.

[2016-01-22 20:17] weaverba137 opened #26 "Berkeley Lab logo is not visible on legacysurvey.org"
The Berkeley Lab logo, nominally files/Berkeley_Lab_Logo_Small.png, does not appear on the legacysurvey.org front page, probably due to a permission issue.

It would also be great if there were instructions on how to login to and deploy on legacysurvey.org.

[2016-01-27 20:35] weaverba137 commented on #26
@djschlegel In order to fix this, you must log in to NERSC and

[code]
This should get not only the permissions but the directory structure closer to what is *actually* in the Nikola source files.

I will be watching to make sure this happens promptly.

[2016-01-27 20:46] weaverba137 commented on #25
This was fixed in ddb741a.

[2016-01-27 20:46] #25 closed

[2016-01-27 21:21] weaverba137 commented on #26
Looks like this is done!

[2016-01-27 21:21] #26 closed

[2016-02-27 04:47] moustakas opened #28 "incorrect documentation on depth tags"
The depth tags documented on http://legacysurvey.org/dr2/catalogs should be
[code]
not
[code]

[2016-04-19 18:47] geordie666 commented on #28
Fixed…see https://github.com/legacysurvey/legacysurvey/blob/master/pages/dr2/catalogs.rst

[2016-04-19 18:47] #28 closed

[2016-06-17 17:01] sbailey opened #33 "sweep files not documented in data model"
I couldn't find a description of which columns are included in the sweep files as part of the data model.  Here is where I looked:

http://legacysurvey.org/dr2/catalogs/
http://legacysurvey.org/dr2/files/

The meaning of the columns are all documented as part of the tractor catalog data model, but it would still be useful to have a raw list of columns in the sweep files, or an extra column in the

[2016-06-25 13:23] geordie666 commented on #33
Added description of sweeps files as part of merge #35: https://github.com/legacysurvey/legacysurvey/pull/35

[2016-06-25 13:23] #33 closed

[2016-09-02 05:35] djschlegel commented on #26
This file at NERSC wasn't world-readable.  I have no idea why, and the file in the git repo has good permissions, so I just fixed the copy at NERSC.

[2017-02-06 10:56] moustakas opened #70 "minor depth documentation fix"
In http://legacysurvey.org/dr3/files (sweep files) and http://legacysurvey.org/dr3/catalogs (tractor catalogs) we document ```DECAM_DEPTH``` and ```DECAM_GALDEPTH``` as being scalars, when in fact they are 6-element arrays.  Should be a simple fix.

Also, is there any way to add a table of contents or a hash reference to these (very long!) pages, e.g., http://legacysurvey.org/dr3/files#sweeps?

[2017-02-06 20:45] geordie666 commented on #70
I've fixed this as part of the DR4 website updates on the DR4updatesADM branch...I won't issue a PR on those updates for a while, but you can consider this closed.

(I couldn't find an obvious was to link internally on pages, but I'll keep digging)

[2017-02-06 20:45] #70 closed

[2018-07-27 15:58] geordie666 opened #82 "Some Requested Updates to Documentation"
A list of changes that people requested after the DR7 window for updates:

- List publications in reverse chronological order.
- Document the minimum peak separation for source detection.
- The phrase "As of DR5" appears to be ambiguous. Change to, e.g., "In every data release since DR5 (including DR7)".
- What do we mean by "oversized" in the Image Stacks section (DJS suggests: "These images over

[2018-07-30 11:05] moustakas commented on #82
We also need to clearly state the version of the unWISE stacks we use (NEO4 in the case of DR7), likely in the "Contents of DRxx" section.

[2018-07-30 20:04] geordie666 commented on #82
Also add @ameisner's useful table `unwise_w1_w2_dr_table.pdf`

[2018-08-15 17:12] geordie666 commented on #82
And add the files containing the 10% subsets of randoms (randoms-dr6.0-0.22.0-X.fits)  to the release directory.

[2018-08-31 17:41] geordie666 opened #84 "Additional updates for DR7 pages"
- Spurious extended sources exist across the brick boundaries (add to the `issues` page):

<img width="513" alt="spurious" src="https://user-images.githubusercontent.com/13952581/44927659-8fe58380-ad12-11e8-88bb-fab9b4cb4d36.png">

- `REF_ID` and `REF_CAT` descriptions are interchanged for the sweeps on the `files` page.
- "For issues relevant to BASS or MzLS imaging, consult the DR6 issues page"

[2018-10-15 21:16] geordie666 commented on #84
Fixed in https://github.com/legacysurvey/legacysurvey/pull/85.

[2018-10-15 21:16] #84 closed

[2018-10-24 17:54] geordie666 opened #86 "Updates for DR8."
A list of requests for DR8 (also potentially back-include in DR7):

- Add the full slate of status plots rather than just 1 or 2 (depth, seeing etc.)
- Add a link to the CCD issues page at http://www.ctio.noao.edu/noao/content/Status-DECam-CCDs
- Change "epoch" to "equinox" for J2000 in the RA/Dec or to ICRS without an equinox for Gaia (for all DRs).

[2019-01-09 11:10] moustakas commented on #86
Shall we update the top-level title and description at
http://legacysurvey.org from `The Legacy Surveys` to `DESI Legacy Imaging Surveys` to match the title of the overview paper?  May help prevent confusion...

[2019-03-18 17:37] geordie666 commented on #86
Note that the matching radius for external catalogs was increased to 1.5" for DR8.

[2019-03-27 21:54] weaverba137 opened #87 "Document external catalogs for DR8"
There are five external catalogs that are used as inputs to the DR8 pipeline:

1. PS1
2. Gaia
3. Tycho2
4. NGC
5. Large Galaxies

We want to move these into an archival state, but for the purposes of **DR8** we should just document that these catalogs are a requirement of the pipeline.

Here are some questions that should be answered in documentation:

* What is the *provenance* of these catalogs?

[2019-03-29 17:53] moustakas commented on #86
Some additional data model changes to the DR8 [survey-ccds](http://legacysurvey.org/dr7/files/#survey-ccds-dr7-fits-gz) and [annotated-ccds](http://legacysurvey.org/dr7/files/#ccds-annotated-dr7-fits-gz) files:

New columns:
* `plver`: Community Processing (CP) version number
* `procdate`: CP processing date
* `plprocid`: unique CP processing hash
* `airmass`: airmass of observation (measured at t

[2019-04-12 20:13] moustakas commented on #86
For the documentation: the only known situation where `-photom` files would be missing (but `-annotated` and `-survey` files present) are if PSFex fails.  This is OK. See discussion in https://github.com/legacysurvey/legacypipe/issues/349.

[2019-04-14 00:53] moustakas commented on #86
More updates:
* Output Tractor catalogs now contain only `grz` (https://github.com/legacysurvey/legacypipe/pull/356), reducing the number of columns from 204 to 160!!
* New WISE depth columns `psfdepth_w[1-4]` (https://github.com/legacysurvey/legacypipe/pull/358).
* New `maskbits` column with definitions that we should provide (https://github.com/legacysurvey/legacypipe/issues/279#issuecomment-482

[2019-04-23 13:49] moustakas commented on #86
New morphological type `DUP`: Gaia stars that are also in the LSLGA.  No point source is fitted (i.e., the fluxes and inverse variances are all zero), but all Gaia catalog entries are populated.

[2019-04-29 18:24] geordie666 commented on #86
`BRIGHTBLOB` gets set based on *initial* position (source detection integer pixel peak), while `MASKBITS` gets set after fitting has finished (i.e., on the final brick pixel position).

[2019-04-30 00:19] moustakas commented on #86
The implication of [this comment](https://github.com/legacysurvey/legacysurvey/issues/86#issuecomment-487690059) is that a source can have the `MASKBITS` `BRIGHT` bit set but *not* `BRIGHTBLOB`, and vice versa.

[2019-05-07 18:45] dstndstn commented on #87
1.  PS1 -- These files were produced by Doug Finkbeiner.  At the time they were produced, I believe they were proprietary Pan-STARRS1 data, but will now be public with PS1-DR1.  I believe these have mag, color, and morphology cuts? but not certain.
Data model is that they are Nside=32 healpix tiles each containing a FITS table.
/global/project/projectdirs/cosmo/work/ps1/cats/chunks-qz-star-v3

2.

[2019-05-17 15:01] moustakas commented on #86
@geordie666 Could we add this little code tidbit somewhere on the DR8 website for converting `plprocid` to a date?  I've found myself having to dig this out of email several times, which probably means it's a useful thing to have on a webpage!  Thanks.

[code]

For example:
[code]

[2019-05-17 15:07] dstndstn commented on #86
In python,

[code]

[2019-05-30 22:48] djschlegel commented on #86
The "Galactic Extinction" section of the docs don't give the coefficients used for the WISE filters and how they were derived.  Please include the text for this from:
https://desi.lbl.gov/trac/wiki/DecamLegacy/DR1Catalogs#Galacticextinctioncoefficients

[2019-06-26 12:02] dstndstn opened #88 "Mention model and resid layers in cutout server"
from http://discuss.legacysurvey.org/t/is-there-an-equivalent-cutout-service-for-models-and-residuals/1090

[2019-06-26 16:45] geordie666 commented on #88
I added this to the pages as far back as DR6. As with the other issues, nothing will change on the website until we serve the DR8 version.

[2019-07-05 19:49] weaverba137 commented on #86
Closed by #89.

[2019-07-05 19:49] #86 closed

[2019-07-05 19:49] weaverba137 commented on #87
Closed by #89.

[2019-07-05 19:49] #87 closed

[2019-07-05 19:50] weaverba137 commented on #88
Closed by #89.

[2019-07-05 19:50] #88 closed

[2019-07-05 20:05] weaverba137 opened #90 "Ensure that the "custom" theme is supported by recent versions of Nikola."
With Nikola v8.0.2, `nikola build` warns:
[code]
And the pages do not look like our standard legacysurvey.org theme.

[2019-07-05 23:07] geordie666 opened #91 "Updates in the wake of the DR8 release."
For the DR8 pages, we need to add or change the following in the short-term:

- On the description page, the cut-off dates for the non-DECaLS DECam observations are incorrectly based on the `survey-ccds-*-dr8.fits.gz` instead of the `survey-ccds-*-dr8.kd.fits` files. The correct start/end dates are 1 September 2013 to 7 March 2019.
- On the description page, switch to: "The projections for the g,r

[2019-07-06 00:55] weaverba137 opened #92 "Classification numbers"
We did a test load of the *north* tractor files and got these numbers:
[code]
Which do not agree with http://legacysurvey.org/dr8/description/#morphological-classification

Note also that these numbers are *larger* than those officially reported.

[2019-07-06 01:00] dstndstn commented on #92
Did you cut on PRIMARY?

On Fri, Jul 5, 2019 at 8:55 PM Benjamin Alan Weaver <
notifications@github.com> wrote:

[2019-07-06 01:02] weaverba137 commented on #92
Are you saying that the definition of "All Northern Sources" is not really **all** but **all primary**?

[2019-07-06 01:16] geordie666 commented on #92
Personally, I think that is implied by the row-heading:

```Objects in a Primary brick```

It would seem strange to me if the other rows then _weren't_ primary.

This is how we've reported the rows in previous data releases. But I'll make it explicit in the next version if you feel strongly about it.

For completeness, here's how the numbers are calculated:
[code]

[2019-07-06 01:20] weaverba137 commented on #92
Just to make sure, by reading from survey-bricks-dr8-north, there is an implicit cut on PRIMARY?

[2019-07-06 01:57] geordie666 commented on #92
I think so, but I'll let @dstndstn explicitly answer that. I've been assuming as such for the documentation, and probably inherited that information from somewhere (or checked against some other numbers).

If @dstndstn doesn't know off-hand, I'll dig in the `legacypipe` code tomorrow and get you an answer (and make sure it propagates to the documentation).

[2019-07-06 02:20] geordie666 commented on #92
Actually, our own documentation regarding the

[code]
So, yes, I believe that there is an implicit cut on PRIMARY (`BRICK_UNIQUE`).

[2019-07-06 02:22] dstndstn commented on #92
Yes, here's the cut
https://github.com/legacysurvey/legacypipe/blob/master/py/legacyanalysis/brick-summary.py#L624

On Fri, Jul 5, 2019 at 10:20 PM Adam Myers <notifications@github.com> wrote:

[2019-07-06 02:26] geordie666 commented on #92
@weaverba137: Perhaps it would clarify things if I took more care to use the terminology `BRICK_PRIMARY` everywhere? It seems that I drift between `PRIMARY`, `BRICK_PRIMARY` and `BRICK_UNIQUE` in places.

[2019-07-06 11:37] weaverba137 commented on #92
@geordie666, that is worth checking.  For the purposes of this issue, the important thing that we've already established is that we need to cut on primary to compare the numbers in the database.

[2019-07-06 17:31] dstndstn commented on #91
I just sent #93 for the DR8 status plots

[2019-07-08 23:09] weaverba137 commented on #92
[code]

[2019-07-08 23:09] weaverba137 commented on #92
We're getting closer but we're still not there.  Is there some other cut that we're missing?

[2019-07-08 23:20] weaverba137 commented on #92
@dstndstn, between the cut you mentioned and this line: https://github.com/legacysurvey/legacypipe/blob/master/py/legacyanalysis/brick-summary.py#L708, where is `T` actually written out?

[2019-07-10 00:07] dstndstn commented on #92
We go through all the nexp files, read the corresponding tractor file and
apply the brick_primary cut, then stuff the various arrays.  They get
packed into the final table and written out at the end.

I verified that the number of unique bricks for which there are nexp files,
93610, matches both the number of rows in the brick-summary file and the
number of tractor files in dr8-north.

I find it m

[2019-07-10 18:13] weaverba137 commented on #92
93610, via `SELECT COUNT(*) FROM (SELECT DISTINCT brickname FROM ls_dr8.tractorn) AS nbrick;`

[2019-07-10 18:46] weaverba137 commented on #91
From the description of `objid`: "Catalog object number within this brick; a unique identifier hash is release,brickid,objid; objid spans [0,N-1] and is contiguously enumerated within each blob".  Within each *blob*?  Shouldn't that be *brick*?

[2019-07-10 19:10] dstndstn commented on #92
Thanks Ben, so that looks correct.

I re-read all the tractor catalogs and counted the BRICK_PRIMARY sources in
each TYPE class; I confirm Adam's numbers on legacysurvey.org.

I'm not sure what the best way is going to be to track this down.  We could
start bisecting the sky to see where your extra objects are...  Please let
me know how you'd like to proceed.

On Wed, Jul 10, 2019 at 2:13 PM Benja

[2019-07-10 19:14] weaverba137 commented on #92
The total number of rows in the north table is 359,540,972.  I'm trying to verify that the combination release, brickid, objid is genuinely unique.  If it is genuinely unique, the number of unique (release, brickid, objid) should equal the number of rows.

[2019-07-10 19:25] weaverba137 commented on #92
And I do confirm that (release, brickid, objid) is genuinely unique.

[2019-07-10 19:32] weaverba137 commented on #92
Is there a quick way to get the total number of rows in the north tractor catalog files?

[2019-07-10 19:42] weaverba137 commented on #92
More weirdness:  If I add along the *columns* of http://legacysurvey.org/dr8/description/#morphological-classification, the number of classified objects does not add up to the total number of objects.  For example:
[code]

[2019-07-10 20:40] geordie666 commented on #92
I think the "more weirdness" is because I don't include the ``DUP`` sources in the table at http://legacysurvey.org/dr8/description/#morphological-classification.

This was a conscious choice because the ``DUP`` sources don't have a specific entry in the ``survey-bricks-dr8-*.fits.gz`` files. Presumably they are in the counts for "all" objects, though (the ```nobjs``` column from http://legacysurv

[2019-07-11 14:49] weaverba137 commented on #92
@geordie666, OK, but I think that could be documented more clearly, unless you want to answer questions about why those numbers don't add up.  Unfortunately that still doesn't address why we have more rows in the database than the numbers in the table.

[2019-07-11 15:49] weaverba137 commented on #92
I take back what I said earlier:

In fact, the number of rows in the database is greater than the number of distinct values of (release, brickid, objid), which indicates that we somehow have some duplicates in the database.

Do we have a *iron-clad* guarantee on the tractor files side that there are *zero* duplicates of (release, brickid, objid) in the tractor files?  This has nothing to do with t

[2019-07-11 16:03] dstndstn commented on #92
I believe that to be true, but am currently running a script on the
dr8-north tractor files to verify.

On Thu, Jul 11, 2019 at 11:49 AM Benjamin Alan Weaver <
notifications@github.com> wrote:

[2019-07-11 21:12] dstndstn commented on #92
Hi Ben,
My script finished and it confirmed that claim.

On Thu, Jul 11, 2019 at 12:03 PM Dustin Lang <dstndstn@gmail.com> wrote:

[2019-07-12 13:13] weaverba137 commented on #92
Thank you @dstndstn !  I have confirmed that we have identical rows in the database table, so we're working to reload it.  I'll close this once we've confirmed the numbers with the new load.

[2019-07-13 15:24] weaverba137 commented on #92
After the latest reload of the tractor north files, we now find the exact same numbers.

[2019-07-13 15:24] #92 closed

[2019-07-17 11:48] dstndstn commented on #91
@weaverba137 Yes, objids should be 0 to N-1 per *brick*.  Good catch.

[2019-07-17 11:49] dstndstn commented on #91
Risa pointed out that we should mention DES specifically, since we're now pulling in a pretty big chunk of their data.  I'll send a PR.

[2019-07-22 20:56] geordie666 commented on #91
Addressed in a combination of #93, #94 and #95.

[2019-07-26 18:27] weaverba137 opened #97 "Document equatorial MzLS fields"
@stephjuneau and possibly others have been confused by the presence of equatorial fields in MzLS data.  That is, the "north" tractor catalog is not strictly limited to Dec >= 32.  If this is already documented, where is it documented, so we can refer people to it?  If it is not documented, obviously it should be.  I remember taking images of these fields (though it took me a while), but I can't re

[2019-07-26 18:39] geordie666 commented on #97
I suppose the logical place to record that there are a small number of fields not at Dec >= 32 is on the survey description pages, e.g.:

http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/output/mzls/
http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/output/bass/

I too, can't remember why these fields were taken. Perhaps to obtain early overlap regions between BASS/MzLS and DECaLS.

[2019-07-26 18:41] geordie666 commented on #97
@schlafly, @djschlegel, @moustakas, @dstndstn: Can anyone remember why we took equatorial exposures, outside of the normal MzLS footprint? I _think_ BASS took some, too, although I can't easily check that for sure while NERSC is down.

[2019-07-26 19:07] moustakas commented on #97
I believe these are spectroscopic/targeting truth fields like COSMOS. We
did these early on.

On Fri, Jul 26, 2019, 2:41 PM Adam Myers <notifications@github.com> wrote:

[2019-07-26 20:01] djschlegel commented on #97
We were supposed to cover 200 sq deg on the equator as part of a required (according to the DESI imaging requirements doc DESI-1179) 450 sq deg overlap between the northern + DECam surveys.  But we only got part of that :<

[2019-07-30 03:18] weaverba137 opened #98 "Count of PSF sources"
We have completed a test load of the dr8/south catalog, and again there is a discrepancy in the number of objects, although it is much more subtle this time.  The *total* number of rows in the table does match the number of rows in the tractor files.  *However*:
[code]
The PSF count reported in http://www.legacysurvey.org/dr8/description/#morphological-classification is 603,773,970, which is exact

[2019-07-31 17:11] weaverba137 commented on #97
OK, so who is going to take the responsibility to document this, so we can get it into the public site relatively soon?

[2019-07-31 17:11] weaverba137 commented on #98
Did everyone see this?  Assigning to @dstndstn for now.

[2019-07-31 17:16] geordie666 commented on #97
@weaverba137: I've already documented this in https://github.com/legacysurvey/legacysurvey/pull/95. I just haven't pushed my (few) new changes yet. In that branch, I'll address:

- This issue.
- The new data model for the forced photometry files once they're finalized.
- @stephjuneau's Data Lab text, once it's finalized.

Sorry, I should have mentioned that sooner to avoid duplicating effort.

If

[2019-07-31 17:21] weaverba137 commented on #97
@geordie666 thank you for the update, please at least push what you have so I can take a look before merging.

[2019-07-31 17:40] dstndstn commented on #98
ahhh.... the survey-bricks-{north,south}* summary files use an int16 to hold the number of sources, so that is suspicious.  65k would be a large number of sources for a brick, but I suppose that one of the globular cluster bricks could hit that number.  (I guess I am predicting that exactly one has exceeded that number.)  I will dig.

[2019-07-31 17:40] dstndstn commented on #98
(sorry for the delay, I read this when you first sent it but didn't have any ideas)

[2019-07-31 17:58] dstndstn commented on #98
Found it -- brick 2296p020 (M5) contains 32,943 PSFs (and no other types), and in FITS's i16 datatype, this becomes -32593, so we're off by 65,536 in this survey-bricks-dr8-south.fits.gz file, for that one entry.

That file is used to produce the summary numbers on the web pages, so we'll need to update that too.  (I'll send a PR, @geordie666 )

Thanks for the persistence, Ben.

[2019-07-31 18:01] weaverba137 commented on #98
Thank *you* Dustin.  I'll update people on the Data Lab side.

[2019-07-31 19:33] weaverba137 commented on #97
Closed by #95.

[2019-07-31 19:33] #97 closed

[2019-07-31 19:34] weaverba137 commented on #98
Will be closed by #99

[2019-07-31 19:34] #98 closed

[2019-07-31 19:37] weaverba137 commented on #91
All PRs have now been merged, closing.

[2019-07-31 19:37] #91 closed

[2019-09-04 17:24] geordie666 opened #101 "Note that due to the DR8 patching the fiberfluxes are inconsistent..."
...on the known issues page of the DR8 website.

[2019-09-27 17:27] michaelJwilson opened #102 "Outdated MASKBITS documentation."
http://legacysurvey.org/dr8/bitmasks/

Implies that blob-based masking still applies in MASKBITS, when in fact this has changed to a circular mask based on the stellar mag.

'1    BRIGHT    touches a pixel in a blob containing a bright (Tycho-2) star.'

Should also indicate that either Tycho-2, or Gaia G < 13 get BRIGHT, before matching.

Thanks

Mike

[2019-10-04 21:55] michaelJwilson commented on #102
There's also a small correction here:  http://legacysurvey.org/ccdordering/, where for 2084 MzLS exposures beyond the pole, the column ordering is reversed.

[2019-10-10 20:23] geordie666 commented on #101
This had already been [addressed as part of tag 8.0.1 of legacysurvey](https://github.com/legacysurvey/legacysurvey/commit/d82cf110b79f38a5f7977c2f3bb5544dcd92817c#diff-f79f2e68627efc9a0f9294fe3c71b0ffR37-R38).

[2019-10-10 20:23] #101 closed

[2019-10-10 22:00] weaverba137 commented on #102
Closed by #104.

[2019-10-10 22:00] #102 closed

[2019-12-03 20:47] weaverba137 opened #106 "Rename NOAO"
We need to update all references to NOAO to the new "NSF's OIR Lab" name.

[2019-12-06 02:49] segasai opened #107 "Include a flag for resolving northern and southern surveys"
Hi,

I don't think it is really a bug, more of the question/feature request. While ingesting the north and the south data in the same SQL table, I noticed that the sources in the stripe of the overlap between Mzls/BASS with DECAM are not removed by brick_primary key (which was my expectation).

Is there a standard/recommended way of removing those duplicates ?
Is this it ((release=8001 and dec>32.

[2019-12-06 11:55] dstndstn commented on #107
Hi Sergey,

This is a good suggestion!  brick_primary is only used to resolve the overlap between adjacent bricks, not between the northern and southern surveys.  Adding a new field is a good idea.  The number 32.375 is mentioned a few times on legacysurvey.org/dr8, but we never really give a recipe for resolving the two surveys.  For the North Galactic Cap, we use 32.375, and then for the South G

[2019-12-06 11:56] dstndstn commented on #107
I'm going to re-name the ticket to reflect your reasonable request!

[2019-12-06 11:57] dstndstn commented on #107
(ps, part of the reason we didn't do this for DR8 was that we weren't certain that the 32.375 line was the final answer)

[2019-12-06 13:59] geordie666 commented on #107
For the record, the current official "resolve" function is here:

https://github.com/desihub/desitarget/blob/cd18fb52147b8a29222c425d172f44074d1904eb/py/desitarget/targets.py#L560-L612

[2019-12-06 14:06] geordie666 commented on #107
Note, too, that including a flag for resolving the northern and southern imaging directly in the imaging files is a philosophical shift, as we'd decided to leave this as a targeting step.

I don't object to this request, but it does run the risk that the resolve in the imaging could become divorced from the resolve in targeting. Say, for instance, we finish DR9, and then targeting folks decide to

[2019-12-06 17:16] segasai commented on #107
Thanks Adam for the resolve function and Dustin for the reply. I certainly would think that the imaging survey is in the best position to decide on the best  resolve of northern vs southern data, and DESI probably should just use what's the best from the imaging point of view (i.e. the logic probably should be inside LS processing as opposed to DESI ).
An alternative to a sharp cut in dec -- is ju

[2019-12-06 17:49] geordie666 commented on #107
In general, I agree that the imaging survey would be the best place to decide on the resolve.

However, given the edict that legacysurvey can't be a dependency of desitarget, there's no simple way to have the imaging surveys guide the resolve for, e.g., the desitarget randoms and blank sky locations (other than duplicating the resolve function in both repositories, which we may just have to do).

[2019-12-06 18:02] dstndstn commented on #107
Hi Adam,

If we put the resolve in the legacypipe code, then targeting could import and use that function...  I think we definitely don't want it in two places (Don't Repeat Yourself is an extremely important principle in this context!)

The astrometry.net code has functions to convert between nested and xy and ring indexing (yes, there are three schemes for giving numbers to cells in a rectangula

[2019-12-06 19:11] geordie666 commented on #107
@dstndstn: There is a strong desire in Data Systems that legacypipe should _not_ be a dependency for desitarget. In the past, for instance, I've had to excise necessary functions from legacypipe and include them as static functions in desitarget (as I recall, we changed the license on either legacypipe or astrometry.net to facilitate this). So, we already have some duplication.

So, again, I suspe

[2019-12-06 19:15] dstndstn commented on #107
Yeah, actually, having desitarget as a dependency of legacypipe to pick up
this one function is not such a bad idea.

Also, the healpix cell boundaries are diagonal in RA,Dec, so they make a
really poor pixelization for our cut.

On Fri, Dec 6, 2019 at 2:11 PM Adam Myers <notifications@github.com> wrote:

[2019-12-06 19:26] geordie666 commented on #107
If making desitarget a dependency of legacypipe works for you, then I have no issue with that solution. It would certainly make my life easier!

[2020-01-18 02:56] moustakas opened #109 "documentation updates for DR9"
I know we've been keeping track of changes on the wiki but I thought to create an issue as in previous DRs--
https://desi.lbl.gov/trac/wiki/DecamLegacy/DR9#ChangesfromDR8

A couple additional updates for DR9 are--
* https://github.com/legacysurvey/legacypipe/pull/469 (minor update to star cluster catalog);
* https://github.com/legacysurvey/legacypipe/pull/471 (less minor update to how we see Gaia

[2020-01-18 13:05] geordie666 commented on #109
My preference is definitely GitHub rather than the wiki. So, I'd suggest putting issues here, if you like. I'll also link to them from the wiki at some point (either by copying them across or just linking to this issue).

[2020-01-21 16:15] janewman-pitt-edu opened #110 "minor photo-z wording"
I was traveling to the LSST DESC meeting yesterday so unable to do a final check till now, apologies.

I did see one thing: I think we should clarify

"the optical-WISE color cut"
to read
"an optical-WISE color cut, as applied in Zhou et al."

[2020-01-21 16:15] janewman-pitt-edu commented on #110
This is not urgent :)

[2020-01-27 20:19] moustakas commented on #109
Sweeps have several data model changes, among them no more `FRACDEV` and new `SERSIC` column.

[2020-02-13 21:27] moustakas commented on #109
* Globular cluster and planetary nebulae radii for 14 objects have been updated based on visual inspection--
  https://github.com/legacysurvey/legacypipe/pull/504

[2020-03-12 23:45] rongpu opened #113 "Are MEDIUM masks forcing TYPE=PSF?"
In the current DR8 documentation, it says

But it is unclear whether the "bright stars" include the MEDIUM stars (13<G<16). I think this is important information and should be made clear in the text.

[2020-03-13 19:22] dstndstn commented on #113
No, MEDIUM stars do not force sources PSF, only BRIGHT ones do (BRIGHT =
Tycho-2 and Gaia stars < 13).

On Thu, Mar 12, 2020 at 7:46 PM Rongpu Zhou <notifications@github.com>
wrote:

[2020-03-22 17:26] moustakas commented on #109
The properties of the Local Group dwarfs in the LSLGA used for DR9 were taken from--
  https://vizier.u-strasbg.fr/viz-bin/VizieR-4

[2020-03-27 11:26] moustakas commented on #109
A few more notes on the LG dwarfs (dumped from an email sent to chatter)--

[code]

[2020-03-31 10:28] moustakas opened #114 "fix description of psfsize image stacks in DR8/DR9 documentation"
We describe the `psfsize` image stacks as the "number of exposures contributing to each pixel of the stacked images" but that's obviously a mistake (a copy-and-paste error from the `nexp` data product)--
  http://legacysurvey.org/dr8/files/#image-stacks-region-coadd

[2020-03-31 16:47] dstndstn opened #115 "User-requested improvement: link to external cat docs from "overview" page"
Per a helpdesk email,

Please include the link to
http://legacysurvey.org/dr8/files/#external-files-region-external
in overview table in "Contents of DR8" on this page:
http://www.legacysurvey.org/dr8/description/#photometry

[2020-03-31 16:52] geordie666 commented on #115
This request confuses me. Any idea where to include this or why?

As far as I can tell, the external files aren't used to compute the photometry in any way, so http://legacysurvey.org/dr8/files/#external-files-region-external doesn't seem relevant to http://www.legacysurvey.org/dr8/description/#photometry ?

[2020-03-31 16:54] geordie666 commented on #115
Oh, wait, maybe you just mean in the table at

http://www.legacysurvey.org/dr8/description/#contents-of-dr8

(rather than the photometry) I think that must be correct. That link to the "overview table" makes more sense to me.

Got it. I think.

[2020-03-31 17:02] dstndstn commented on #115
Ahhh yes you're right

[2020-04-01 19:36] geordie666 commented on #106
Addressed in #116.

[2020-04-01 19:36] #106 closed

[2020-04-01 19:37] geordie666 commented on #109
Addressed until this point in #116. I'll leave this open for additional documentation updates, though.

[2020-04-01 19:38] geordie666 commented on #110
Addressed in #116.

[2020-04-01 19:38] #110 closed

[2020-04-01 19:38] geordie666 commented on #113
Addressed in #116.

[2020-04-01 19:38] #113 closed

[2020-04-01 19:38] geordie666 commented on #114
Addressed in #116.

[2020-04-01 19:38] #114 closed

[2020-04-01 19:39] geordie666 commented on #115
Addressed in $116.

[2020-04-01 19:39] #115 closed

[2020-04-16 20:19] moustakas commented on #109
Do we have documentation on where the Gaia catalogs came from (cf https://github.com/legacysurvey/legacypipe/issues/326)?

[2020-04-16 20:25] geordie666 commented on #109
Yes:

http://www.legacysurvey.org/dr8/external/#gaia-dr2

although you just reminded me that  I'll need to update the directories for the cfs directory structure (throughout)!

[2020-04-21 19:45] moustakas opened #117 "gallery candidates for DR9"
Some pretty systems--
* https://portal.nersc.gov/project/cosmo/temp/ioannis/LSLGA-html-DR9fg/339/PGC193199_GROUP/PGC193199_GROUP.html
* https://portal.nersc.gov/project/cosmo/temp/ioannis/LSLGA-html-DR9fg/331/PGC1188617_GROUP/PGC1188617_GROUP.html

[2020-04-23 14:32] moustakas commented on #117
* Amazing ring galaxy system--
  http://legacysurvey.org/viewer?ra=9.4248&dec=-33.7125&layer=dr8&zoom=14

[2020-04-23 14:58] dstndstn commented on #117
that one is nicknamed the Cartwheel galaxy.  Beauty!!

[2020-04-24 14:02] moustakas commented on #117
* UGCA20 in the foreground of a nice galaxy cluster--http://legacysurvey.org/viewer-dev?ra=25.8179&dec=19.9713&layer=dr8&zoom=14

* ESO79-13 with friend PGC003386--http://legacysurvey.org/viewer-dev?ra=14.2053&dec=-63.4837&layer=dr8&zoom=14&lslga

[2020-04-27 23:40] dstndstn commented on #109
@geordie666 , I'm about to add some code where I had to make a choice:

We always keep Gaia sources, even if they would get cut by the model-selection criteria (notably, when they are so bright that they saturate our whole PSF postage stamp).  But since they have no model fits, we have to plug in *something* for their FLUX_[GRZ] values.  I made the decision to plug in our initial estimated-from-Ga

[2020-04-27 23:48] geordie666 commented on #109
Thanks @dstndstn: For clarity, are the estimated-from-Gaia fluxes simply the Gaia fluxes (in the Gaia filter system) shifted to our grz filter system? If so, is this using a flat SED? Or, do we perform some more sophisticated fitting than flat-SED even if we don't fit a anything resembling a proper model?

[2020-04-28 00:33] dstndstn commented on #109
Hi Adam,

The estimated fluxes use Rongpu's polynomial estimates of Gaia-to-DECam
(DECam is used for both north and south surveys).

https://github.com/legacysurvey/legacypipe/blob/master/py/legacypipe/reference.py#L153

On Mon, Apr 27, 2020 at 7:48 PM Adam Myers <notifications@github.com> wrote:

[2020-04-30 00:08] dstndstn commented on #109
Hi Adam,

Changes to aperture photometry:

- apflux_[grz] are of the coadd images, masked by invvar=0.
- apflux_ivar_[grz] are, similarly, uncertainties on those masked coadds.
- apflux_masked_[grz] is a new column that measures what fraction of the pixels are masked; 1 means fully masked (ie, fully ignored; contributing 0 to the apflux).

The mask, being defined by invvar=0, ignores pixels that a

[2020-04-30 21:28] geordie666 commented on #109
@dstndstn: There are other columns that could, in theory, be affected by these changes to aperture photometry. Can you confirm that the following are _not_ affected (are _not_ masked by `invvar=0`):

- `apflux_resid_[grz]` in the Tractor catalogs.
- `apflux_blobresid_[grz]` in the Tractor catalogs.
- `apflux` in the forced photometry files.

[2020-04-30 21:37] dstndstn commented on #109
Hi Adam,
Thanks for thinking about this!  The apflux_resid and apflux_blobresid
columns already were being masked by invvar=0.  This doesn't affect the
forced photometry files.
cheers,
--dustin

On Thu, Apr 30, 2020 at 5:28 PM Adam Myers <notifications@github.com> wrote:

[2020-05-13 20:56] geordie666 commented on #109
Remove `BRIGHTBLOB` from the DR9 data model.

[2020-05-13 20:56] geordie666 commented on #117
Strong lenses?

https://ui.adsabs.harvard.edu/abs/2020arXiv200504730H/abstract

[2020-06-02 18:15] moustakas commented on #109
(Another) update on how we force point sources from Gaia--
https://github.com/legacysurvey/legacypipe/issues/570#issuecomment-637671577

[2020-06-02 23:44] geordie666 commented on #109
This is a note to myself that I've addressed comments in this issue thus far in #116 and on [the test page](http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/output/).

[2020-06-09 07:41] rongpu opened #118 "What is the fiber diameter used in FIBERFLUX?"
The description of FIBERFLUX is "Predicted x-band flux within a fiber from this object in 1 arcsec Gaussian seeing", and it does not mention the fiber diameter in the calculation.

[2020-06-09 10:14] dstndstn commented on #118
Fiber diameter is 1.5";

https://github.com/legacysurvey/legacypipe/blob/master/py/legacypipe/runbrick.py#L1839

On Tue, Jun 9, 2020 at 3:41 AM Rongpu Zhou <notifications@github.com> wrote:

[2020-06-09 16:25] rongpu commented on #118
Thanks!

May I request that we add this to the documentation?

[2020-06-09 17:47] geordie666 commented on #118
Yep, I'll add it (I'm closing this issue and shunting it to the DR9 docs issue.

[2020-06-09 17:47] #118 closed

[2020-06-09 17:49] geordie666 commented on #109
The description of `FIBERFLUX` is "Predicted x-band flux within a fiber from this object in 1 arcsec Gaussian seeing", and it does not mention the fiber diameter in the calculation. Need to add that the fiber diameter is 1.5":

https://github.com/legacysurvey/legacypipe/blob/master/py/legacypipe/runbrick.py#L1839

(see also #118).

[2020-06-18 20:49] geordie666 commented on #109
Make sure to document the (new) WISE columns in the tractor catalogs. @djschlegel notes that the sizes and rational for the aperture photometry is [here](https://github.com/legacysurvey/legacypipe/issues/447) and that the `WISE_X` and `WISE_Y` positions refer to the WISE coadds that matches `WISE_COADD_ID`, rather than to the images in the legacypipe coadd directory.

@dstndstn: can you comment on

[2020-06-29 15:22] geordie666 commented on #109
@djschlegel also reports (apropos the `APFLUX_*` columns):

[code]

[2020-06-29 15:23] geordie666 commented on #109
Remember to update the full suite of `RELEASE` numbers that have been used in DR9 testing.

[2020-06-29 15:34] geordie666 commented on #109
Spin the cutout service to its own page under the "viewer" tab, so that it's easier to find. Make sure to provide a link to [the list of allowed urls](http://legacysurvey.org/viewer/urls).

[2020-07-01 17:22] geordie666 commented on #109
See https://github.com/legacysurvey/legacypipe/issues/593 for documentation of a further update to the data model of the tractor files.

[2020-07-01 17:29] geordie666 commented on #109
Document file of star masks in `/dr9/external/`

[2020-07-01 17:41] geordie666 commented on #109
Note which columns are missing for the SGA files (and note that we drop those columns deliberately in the pre-burn...and that the information is still retained in the tractor catalogs).

[2020-07-19 10:53] moustakas commented on #109
Pre-burned large-galaxy coadds do not have the sky template subtraction (see https://github.com/legacysurvey/legacypipe/issues/609).

[2020-07-23 06:12] rongpu opened #119 "Fix the link to unWISE mask documentation"
The current link at the bottom of http://legacysurvey.org/dr8/bitmasks/ does not work on Safari. The correct link with HTTPS prefix: https://catalog.unwise.me/files/unwise_bitmask_writeup-03Dec2018.pdf

[2020-07-23 21:24] geordie666 commented on #109
@djschlegel notes that the OOW images are in the same units as `1/SKYRMS**2` in the survey-ccds files _but_ that these images need to be multiplied by both `gain` and `exptime` to get electrons (for 90prime+mosaic).  We should have some minimal documentation on this at the end of the “Files” page.

[2020-07-30 17:40] geordie666 commented on #109
Related to the comment on June 29th, @dstndstn notes:

I think David already worked out the transformation for pixel coordinates in the `legacysurvey-BRICK-image-W1.fits.fz` files compared to (zero-indexed) `BX`, `BY` coordinates, which apply to the optical coadds:
[code]
This peculiar offset comes from the fact that both WCS headers share the same (brick) center, which is pinned to the center of

[2020-08-26 22:35] geordie666 commented on #119
Addressed in #116.

[2020-08-26 22:35] #119 closed

[2020-08-26 22:36] geordie666 commented on #109
Just a note that everything in this issue (so far) was addressed in #116. I'll leave this open in case of further updates, though, until DR9 is final.

[2020-10-22 19:55] weaverba137 commented on #107
@dstndstn, did you in fact make desitarget a dependency of legacypipe, and therefore this can be closed?

[2020-10-22 19:58] dstndstn commented on #107
Hi Ben,
No, not yet, but thanks for the reminder that this would be the right way to add the hemisphere flag to, eg, the brick summary files.

[2020-10-22 19:59] weaverba137 commented on #107
OK, no worries, just checking.

[2020-10-28 17:36] weaverba137 commented on #90
Note that the "custom" theme is based on [Readable](https://bootswatch.com/3/readable/) which is not available for Bootstrap 4-compatible CSS frameworks.

Under the hood, Readable **replaces** the base Bootstrap 3 CSS files, but the css files are still **called** *e.g.* `bootstrap.css`, as in the `themes/custom/assets/css` directory.

[2020-11-07 19:19] weaverba137 opened #122 "Do not deploy old JS libraries"
Version 7.x of Nikola deploys an old version of jquery, even though it is not used, and the mere *existence* of this file is sufficient to trigger security alerts.  More recent versions of Nikola probably don't have this problem, but if we are stuck using 7.x for the indefinite future, we should find some automated way to remove this file from the built site.

[2020-11-13 02:01] weaverba137 opened #123 "Document DR9SV release"
It now appears (confirmed by David Schlegel today) that the `dr9sv` release will not actually be used for SV. The full DR9 will be used instead. Thus, we need to document that, despite the name, `dr9sv` was *not*/will *not* be used for any targeting.

[2020-11-13 02:26] geordie666 commented on #123
@weaverba137: As I recall, `dr9sv` was a completely internal release. I don't _think_ I've made any reference to it on the webpages? I'll certainly remove any reference to `dr9sv` if I can find one. But, I won't be documenting `dr9a`, `dr9b` or anything else through `dr9m`. Just the final `dr9` release.

[2020-11-13 02:50] weaverba137 commented on #123
I don't think there are references to it in the documentation, but it **is public**. So I'm just trying to head off confusion >~ 1 year from now.

[2020-11-13 04:13] geordie666 commented on #123
Ah, I didn't realize `dr9sv` was public. Can you point me to the public link so I can add that link to the documentation? We can probably just add a disclaimer on the front page of the eventual `dr9` release.

[2020-11-13 17:41] weaverba137 commented on #123
`/global/cfs/cdirs/cosmo/data/legacysurvey/dr9sv`.

https://portal.nersc.gov/project/cosmo/data/legacysurvey/dr9sv/

[2020-12-18 07:58] ErikOsinga opened #124 "Legacy survey website down?"
Hi,

I am not sure whether this is the correct place to ask this question, but the website https://www.legacysurvey.org/ has been down for me for about two days now. Just wondering if you were aware of this issue.

Kind regards,
Erik

[2020-12-18 08:21] djschlegel commented on #124
Erik-- The host machine at NERSC will be down until around Dec 20.  Updates at https://nersc-status.lbl.gov/ .   A limited version of the Viewer is available at viewer.legacysurvey.org if that's helpful.  -David

[2020-12-18 08:22] ErikOsinga commented on #124
That's very helpful, many thanks!

[2020-12-18 08:22] #124 closed

[2021-01-12 17:47] weaverba137 opened #126 "Migrate tests to GitHub Actions"
Time to leave Travis.

[2021-01-12 18:46] geordie666 commented on #123
Addressed in #125.

[2021-01-12 18:46] #123 closed

[2021-01-12 18:48] geordie666 commented on #109
I'm closing this now, given the near-final website in #125. Everything in this thread has been addressed. We should open a new issue if we need further changes after the near-final version of DR9 is deployed.

[2021-01-12 18:48] #109 closed

[2021-01-12 18:55] geordie666 commented on #107
@dstndstn: When I was reviewing the documentation, it seemed like you'd added this information in the `north`/`south` survey bricks files (as the `survey_primary` column). If so, can we close this issue?

[2021-01-12 19:40] dstndstn commented on #107
Yes!

[2021-01-12 19:40] #107 closed

[2021-01-12 20:34] segasai commented on #107
Just checking the actual DR9 files. At least in tractor bricks like these ones north_tractor/tractor/000/tractor-0008m002.fits  I don't see a survey_primary column, so it looks like with the catalogs alone you can't still get the primary/secondary info, am I correct ?

[2021-01-12 20:36] dstndstn commented on #107
That's right, it's only in the survey-bricks-<hemisphere> summary files.

[2021-01-12 20:36] dstndstn commented on #107
I think it's expected that many users will use the 'sweeps' files, which get resolved to primary

[2021-01-12 20:39] segasai commented on #107
Okay, thanks. Maybe I'll switch to sweeps as well. The full tractor catalogs are quite heavy in the database.

[2021-01-12 21:37] weaverba137 commented on #117
@moustakas, since this issue is related to *discussing* gallery candidates, does it need to remain open?  In other words, I assume there is a firm plan for deploying a specific gallery at this point.

[2021-01-12 21:43] moustakas commented on #117
We don't yet have a firm plan, but it's on me. I need to finish up my SGA stuff for DR9 and then I'll turn to the gallery.

[2021-01-12 23:11] #126 closed

[2021-01-15 05:37] weaverba137 opened #128 "Almost all old gallery pages are broken"
I added a placeholder for the dr9 gallery, so the link off legacysurvey.org would at least work.  While doing so, I noticed that link rot had made basically every gallery/index.html broken in some way.

I propose eliminating the hand-written html pages on disk and instead add gallery pages to this code base, while keeping the actual images, thumbnails, etc on disk at NERSC.

[2021-01-19 15:39] #128 closed

[2021-01-30 19:30] moustakas opened #130 "document special behavior for Sculptor and Fornax"
@dr-guangtou noticed the lack of non-Gaia sources around Fornax, which we treated (as well as Sculptor) as "globular clusters" and turned off source detection. We should more explicitly document this behavior here--
  https://www.legacysurvey.org/dr9/external/#globular-clusters-planetary-nebulae

[2021-02-01 11:02] moustakas opened #131 "remove SGA / largegalaxy files from DR9 "files" page"
These data products and files are being released semi-independently from DR9 and I am documenting them on the (still in progress) SGA page, so I propose we remove them from here--
  https://www.legacysurvey.org/dr9/files/#coming-soon-large-galaxy-files-largegalaxies-aaa-galname

[2021-02-01 16:51] geordie666 commented on #131
We likely won't serve a new version of the webpages until you've updated the SGA page. And, it's made fairly clear on the existing page that this product is "coming soon."

So, there's no real point to removing that page now. Although, you should definitely remove that page in your updated version of the webpages, and point the SGA links to wherever you would like.

[2021-02-21 16:15] #131 closed

[2021-02-28 17:32] moustakas opened #134 "half-light radius is not circularized"
We should clarify that the `shape_r` half-light radii in the Tractor catalogs are along the semi-major axis; they are not circularized.

[2021-03-19 17:42] rongpu opened #135 "Mask radius"
We should clarify that the "radius-magnitude relation" (https://www.legacysurvey.org/dr9/bitmasks/#maskbits) for the Tycho-2 and GAIA stars are for the MEDIUM mask, and that the BRIGHT mask radius are exactly half of that.

Similarly, we should clarify that the "radius" in the GAIA mask catalog (https://www.legacysurvey.org/dr9/files/#gaia-mask-dr9-fixed-fits) is the MEDIUM mask radius.

[2021-04-01 22:48] rongpu commented on #135
I just noticed that the radius-magnitude relation links still points to the DR8 version, but the relation has changed in DR9, so we should update the link to point to the DR9 version:

https://github.com/legacysurvey/legacypipe/blob/6d1a92f8462f4db9360fb1a68ef7d6c252781027/py/legacypipe/reference.py#L319

(This is the MEDIUM mask radius, and it applies to both for both GAIA and Tycho-2 magnitudes)

[2021-04-01 22:55] geordie666 commented on #135
Ah, yes, nice catch. I'll fix that in #136 before merging (when I get a chance!).

[2021-05-12 18:22] weaverba137 commented on #134
@moustakas the current description is
[code]
I propose changing this to
[code]
As part of PR #136.

[2021-05-12 18:35] weaverba137 commented on #130
@moustakas, did this get closed by #132 or not?

[2021-05-19 10:19] moustakas commented on #130
@weaverba137 yes it did but note that we're still serving that content in the 'staging' site
  http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/sga/

I intend to finish up the SGA as soon as possible after Cori is back at the end of this week.

[2021-05-19 16:31] weaverba137 commented on #130
That's fine if it's not public yet, just want to make sure the text is there.

Closed by #132

[2021-05-19 16:31] #130 closed

[2021-05-19 17:16] weaverba137 commented on #134
@moustakas could you please confirm that the description change in #136 looks good?

[2021-05-19 17:25] moustakas commented on #134
Yes, that looks good, thanks.

[2021-05-19 17:26] weaverba137 commented on #135
Closed by #136.

[2021-05-19 17:26] #135 closed

[2021-05-19 17:26] moustakas commented on #134
Linking to a notebook which @dstndstn wrote exploring this issue for posterity's sake--
  https://github.com/legacysurvey/legacypipe/blob/main/py/legacyanalysis/galaxy-ellipticities.ipynb

[2021-05-19 17:26] weaverba137 commented on #134
Closed by #136.

[2021-05-19 17:26] #134 closed

[2021-05-19 22:10] rongpu opened #140 "Fiberflux-to-flux ratio for PSF objects"
I have a question about the fiberflux, in particular, the fiberflux-to-flux ratio for TYPE==PSF objects. Given the definition of FIBERFLUX ("Predicted r-band flux within a fiber of diameter 1.5 arcsec from this object in 1 arcsec Gaussian seeing"), I would expect that the fiberflux-to-flux ratios for PSF objects would always be the exact same value. However, it appears that there is some variation

[2021-05-19 22:57] rongpu commented on #140
I just realized that this is the wrong repo (since it's not entirely a documentation issue). Move this issue to the legacypipe repo...

[2021-05-19 22:57] #140 closed

[2021-06-17 19:25] dstndstn opened #142 "Viewer cutout links on https://www.legacysurvey.org/dr9/description/#id10 do not work"
The layer names should be "ls-dr9" not "dr9".

[2021-06-17 19:28] dstndstn commented on #142
Oh, d'oh, that was fixed in f4c1f06
Is there a reason we aren't serving 'master'?

[2021-06-17 19:28] #142 closed

[2021-06-24 16:22] weaverba137 opened #143 "Update raw & processed file download instructions"
The [download instructions for the NOIRLab archive](https://www.legacysurvey.org/dr9/files/#raw-data) need to be updated.

[2021-06-24 23:56] #122 closed

[2021-10-11 11:01] moustakas opened #147 "problem reproducing the SGA half-light radii from the fit parameters provided"
The following issue was reported via email Kim Conger (Kansas University). I believe the issue is a typo in the documentation, but we're checking.

[code]
<img width="446" alt="Screen Shot 2021-10-11 at 6 54 14 AM" src="https://user-images.githubusercontent.com/1431820/136778833-6dba562a-650b-4620-b3be-6e8d0a17add3.png">

[code]

[2021-10-19 16:38] weaverba137 commented on #147
Closed by #148

[2021-10-19 16:38] #147 closed, assigned to nobody

[2022-02-16 18:20] geordie666 opened #151 "Document difference between NEXP and NOBS on the DR9 issues page"
The randoms use `NEXP`, the data use `NOBS`. That these are slightly different quantities needs to be documented on the DR9 issues page.

[2022-02-16 18:22] geordie666 opened #152 "Document the correct unit for ccdskycounts"
We still aren't 100% sure if the `ccdskycounts` are in ADUs/sec, electrons/sec, etc. We should determine the correct unit from the raw images and update the description on (at least) the DR9 files page.

[2022-02-16 23:43] weaverba137 commented on #151
Fixed in #153.

[2022-02-16 23:43] #151 closed

[2022-06-01 17:57] #90 closed

[2022-06-03 15:22] geordie666 opened #156 "A small number of REF_TYPE='T2' sources have a fake duplicate"
Tom Dwelly noticed some (88) duplicated Tycho/Gaia objects in DR10. We should document this as a possible issue in some of the earlier releases (likely DR7, DR8, DR9 should be sufficient).

An example from Dustin:

https://www.legacysurvey.org/viewer-dev/?ra=82.1018&dec=-57.5072&layer=ls-dr10a&zoom=15&sources-dr10a&tycho2&gaia-edr3&mark=82.10387845,-57.50575588;82.10460731,-57.50678378

Informatio

[2022-06-09 18:22] geordie666 opened #157 "Update acknowledgments section"
At the minimum, the additional BASS grant number needs to be added to read "...Chinese
National Natural Science Foundation (Grant #12120101003, #11433005)" (we currently only list #11433005).

We're likely adding a generic "short" acknowledgement, too, though. So, hold off on changing this until that's finalized.

[2022-06-13 23:02] weaverba137 opened #158 "Units in tractor files"
There is an inconsistency between the [tractor catalog description](https://www.legacysurvey.org/dr9/catalogs/) and the actual tractor FITS files.  The former lists photometric flux units as 'nanomaggies', but when you actually open a tractor file and read the units in the file, the spelling is 'nanomaggy'.

Leaving aside the issue that nanomagg(y|ies) is not a FITS-standard unit, there are additi

[2022-06-15 20:23] dstndstn commented on #158
@djschlegel should the unit by "nanomaggy" or "nanomaggie"?

[2022-06-27 17:51] dstndstn opened #159 "Update sky viewer "tips & tricks" with a little more information"
- if fetching FITS cutouts with pixscale=0.262, you get nanomaggies
- adding &subimage yields cutouts from (possibly multiple) overlapping brick images (rather than resampled images)

[2022-06-29 16:01] djschlegel commented on #158
I think we have always used nanomaggy / nanomaggies for singular / plural.  But maybe plural is really the only relevant name in practice.

[2022-07-08 21:26] geordie666 commented on #157
The short acknowledgment — which should only be used when _also_ including the [standard DESI acknowledgment](https://desi.lbl.gov/trac/wiki/GuidetoPub/DESIAcknowledgements) is:

[code]

[2022-07-14 13:10] weaverba137 commented on #158
This issue actually breaks down into three sub-issues:

1. nanomaggy and nanomaggies may be fine for taking about the unit in general, but what is the *symbol* for the unit that belongs in the actual data file?  For example, in a FITS data file, we don't use "second" or "seconds", we use `s`; we don't use "degree" or "degrees" we use `deg`.
2. Regardless of what the actual name of the unit is supp

[2022-07-14 17:45] geordie666 opened #160 "Known issues for DR10"
I'm starting this thread to keep track of known issues for DR10. Anyone should feel free to add any issues!

- Rings of spurious Gaia sources around bright stars ([decam-chatter 16786]).
- Detection is also now done in i-band, both in the initial z-i-r-g per-band detection step and in the per-source SED fitting. This isn't strictly an issue, but it needs to be added to the DR10 description page.

[2022-08-01 18:02] weaverba137 opened #161 "Update LBNL acknowledgement"
Can we please ask a favor? We would like to add two sentences to the acknowledgments listed on https://www.legacysurvey.org/acknowledgment/ under “Scientific Publication Acknowledgment”:

- In the first para, please add the following as the penultimate sentence:
	"Pipeline processing and analyses of the data were supported by NOIRLab and the Lawrence Berkeley National Laboratory. “

- In the secon

[2022-08-03 17:35] weaverba137 commented on #157
@geordie666, is the "short acknowledgement" above intended to replace the _entire_ paragraph that begins "The DESI Legacy Imaging Surveys..." in `acknowledgment.rst`?

[2022-08-03 18:17] geordie666 commented on #157
The short acknowledgment is meant to replace the entire section under:

`When using data from the Legacy Surveys in papers, please use the following acknowledgment:`

that begins:

`The Legacy Surveys consist of three individual and complementary projects: the Dark Energy Camera Legacy Survey (DECaLS; Proposal ID #2014B-0404; PIs: David Schlegel and Arjun Dey), the Beijing-Arizona Sky Survey ...`

[2022-08-03 18:26] weaverba137 commented on #157
OK, I think I understand that, but I'll let you look at the final product.

[2022-08-03 21:53] #161 closed

[2022-08-03 21:54] weaverba137 commented on #157
Closed by #162.

[2022-08-03 21:54] #157 closed

[2022-08-08 16:32] geordie666 opened #163 "Further update to the short acknowledgment"
Another update to the "short" acknowledgement just came down from management. The text should read:

The DESI Legacy Imaging Surveys consist of three individual and complementary projects: the Dark Energy Camera Legacy Survey (DECaLS), the Beijing-Arizona Sky Survey (BASS), and the Mayall z-band Legacy Survey (MzLS). DECaLS, BASS and MzLS together include data obtained, respectively, at the Blanco

[2022-08-09 20:30] weaverba137 commented on #163
@geordie666, I've been noticing that I'm hearing about these issues second-hand.  If I am not actually assigned to an issue or otherwise tagged, I won't get notified.

And I even specifically asked whether that needed to be included in relation to #157.

[2022-08-09 23:17] geordie666 commented on #163
Indeed, my intention was not to assign you to this issue specifically — although I greatly appreciate that you've written a PR to address it.

I was only made aware of the additional sentences about 10 minutes before I posted this issue — long after we closed #157. So, I also applaud your prescience.

[2022-08-10 16:57] #163 closed